*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* start heder  */
nav{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.nav-logo img{
    width: 80px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.nav-links a{
    text-decoration: none;
    color: rgb(15, 15, 136);
    font-size: 0.9em;
    font-weight: 600;
}

.nav-button button{
    border: none;
    padding: 12px 25px;
    background: #fff;
    color: red;
    font-weight: 600;
    font-size: 0.7em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* end heder  */

/* star main  */

main{
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    padding-inline: 15vw;
}

/* end main  */


/* start section 1 */

body{
    background-image: url(../images/image-doob.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50%;
}

.section1{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 22vh 0;
}

.section1 h1{
    color: rgb(15, 15, 136);
    font-size: 3em;
    width: 25vw;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.section1 p{
    font-size: 0.8em;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(73, 73, 73);
}

.sec1-btns button{
    font-size: 0.7em;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    text-transform: capitalize;
}

.sec1-btn-more{
    background: red;
    color: #fff;
}

.sec1-btn-get{
    background: none;
    color: rgb(15, 15, 136);
}

/* end section 1 */

/* start section 2 */

.section2{
    display: flex;
    gap: 5vw;    
}

.sec2-texte{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.sec2-texte h1{
    color: rgb(15, 15, 136);
    font-size: 2.5em;
    width: 20vw;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.sec2-btn-get{
    font-size: 0.7em;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    text-transform: capitalize;
    width: 50%;
    background: red;
    color: #fff;
}

.sec2-colums{
    display: flex;
    gap: 3vw;
}

.sec2-colum-left,.sec2-colum-right{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 4vh;
}

.sec2-colum-left i,.sec2-colum-right i{
    font-size: 4em;    
    color: rgb(15, 15, 136);
}

.sec2-colum-left h2,.sec2-colum-right h2{
    font-size: 2em;    
    color: rgb(15, 15, 136);
    font-weight: 400;
    letter-spacing: 1px;
}

.sec2-colum-left p,.sec2-colum-right p{
    font-size: 0.8em;    
    color: rgb(58, 58, 58);
    letter-spacing: 1px;
    word-spacing: 2px;
}


/* end section 2 */

